<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-contxt.xsd">
        
        <context:component-scan base-package="com.helen" />
        
        <bean id="redSox" class="com.helen.entities.RedSox" />
        <bean id="cubs" class="com.helen.entities.Cubs" />
<!--         <bean id="dataSource" class="javax.sql.DataSource" /> -->
        <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource" />
        <bean id="game" class="com.helen.entities.BaseballGame">
            <property name="awayTeam" ref="redSox" />
            <property name="homeTeam" ref="cubs" />
            <property name="dataSource" ref="dataSource" />
        </bean>
</beans>