<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<springProfile name="dev">
		<include resource="org/springframework/boot/logging/logback/base.xml"></include>
		<logger name="root" level="DEBUG"></logger>
	</springProfile>
	<springProfile name="prod">
		<include resource="org/springframework/boot/logging/logback/defaults.xml"></include>
		<property name="LOG_FILE" value="temp.log"></property>
		<include resource="org/springframework/boot/logging/logback/file-appender.xml"></include>
		<root level="INFO">
			<appender-ref ref="FILE"></appender-ref>
		</root>
	</springProfile>
</configuration>